.add-form-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10rem;

}

.add-form {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    align-items: center;
 
    width: 50vw;
    padding: 4rem;
    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.641);
   
    border-radius: 1rem;


}

.add-form label {
    color: white;
    font-size: 2rem;

}

.add-form input {
    display: block;
    margin-top: .5rem;
    outline: none;
    width: 30vw;
    font-size: 2rem;
    border-radius: 1rem;
    padding: 1rem;

}

.add-form ::placeholder {
    color: #564E58;
    font-size: 1.6rem;
    letter-spacing: 1.4px;


}

.add-form textarea {
    display: block;
    font-size: 2rem;
    width: 30vw;
    outline: none;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: .5rem;



}

.add-form h2 {
    text-align: center;
    font-size: 3rem;
    letter-spacing: 1.2px;
}

.add-form a {
    text-decoration: none;
    color: var(--color-white);
    font-size: 1.9rem;
    text-align: center;
}






@media only screen and (max-width: 600px) {
    .add-form {
        width: 80vw;
    }

    .add-form input {
        width: 60vw;

    }

    .add-form textarea {

        width: 60vw;

    }
}