.details-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.5rem;
    text-align: center;
    gap: 1rem;
    background-color: $color-details;
    color: black !important;
    border-radius: .9rem;
    overflow: hidden;
    box-shadow: 11px 7px 47px 5px rgba(0, 0, 0, 0.75);

}

.movie-details-img {
    width: auto;
    height: 100%;

}
.details-card-h2{
    text-align: center;
    letter-spacing: 1.2px;
}


.details-content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    text-align: start;
    align-self: center;
    padding: 2rem;
    width:30vw;
    font-size: 2rem;
}


.details-buttons  a{
 font-size: 2.2rem;
 color:$color-white;
 text-decoration: none;
 border: 2px solid $color-details;
 align-self: center;
 padding: .5rem 3rem;
 border-radius: 100px;
 background-color: $color-primary;
 transition: all .5s ease-in-out;
 margin-right: .5rem;
 margin-bottom: 1rem;
}

.details-buttons  a:hover{
    background-color: $color-white;
    color:$color-primary;
}




@media only screen and (max-width: 900px) {


    .details-card {
        display: flex;
        flex-direction: column;
       

    }

    .details-content {
        gap: 3rem;
        padding:1rem;
        width: 80vw;
        gap:2.5rem;
        padding:3rem;

    }

}

