.btn{
    font-size: 2rem;
    background-color: var(--color-white);

    display: inline-block;
    padding: 1.1rem 3.5rem;
    cursor: pointer;
    font-style: inherit;
    letter-spacing: 1.2px;
    border: none;
    text-decoration: none;
    color:var(--color-dark);
    margin-right: .7rem;
    position: relative;
    transition: all .4s;

}
.btn:disabled {
    opacity:0.5;
}
.rounded {
    border-radius: 10rem;

}

.fancy {
    font-size: 2.2rem;
    color: var(--color-white);
    text-decoration: none;
    border: 2px solid var(--color-details);
    align-self: center;
    padding: .5rem 3rem;
    border-radius: 100px;
    background-color: var(--color-primary);
    transition: all .5s ease-in-out;
    margin-right: .5rem;
    margin-bottom: 1rem;
}

.fancy {
    background-color: var(--color-white);
    color: var(--color-primary)
}




.green {
    background-color: #18700A;
    color:white;
}
.danger {
    background-color: #C1292E;
    color:white;
}
.opacity {
 opacity:.5;
}
