.btn{
    font-size: 2rem;
    background-color: var(--color-white);

    display: inline-block;
    padding: .8rem 2.5rem;
    cursor: pointer;
    font-style: inherit;
    letter-spacing: 1.2px;
    border: none;
    text-decoration: none;
    color:var(--color-dark);
    margin-right: .7rem;
    position: relative;
    transition: all .4s;

}
.btn:disabled {
    opacity:0.5;
}
.rounded {
    border-radius: 1rem;

}






.green {
    background-color: #18700A;
    color:white;
}
.danger {
    background-color: #C1292E;
    color:white;
}

.opacity {
 opacity:.5;
}


.green:hover {
    background-color: #1f5a16;

}

.danger:hover {
    background-color: #842528;

}