@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


html {
    font-size: 62.5%;
}

body {
    font-family: $f-family;
    background-color: $color-primary;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    margin-bottom: 5rem;

}

.container-details{
    display: flex;
    justify-content: center;
    align-content: center;
    grid-column: 1/4;
}

.container-details-box {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border: 5px solid $color-border;
    width: 70vw;
    border-radius: .7rem;

    box-shadow: 0px 4px px 0px rgba(0,0,0,0.75);
    gap:1rem;
    overflow: hidden;



}

#root {
    padding: 2rem 7rem ;

}


@media only screen and (max-width: 1200px) {
   
    html {
        font-size: 57%;
    }
  
    .container {
        display:flex;
        flex-direction: column;

    }


}

@media only screen and (max-width: 600px) {

     #root {
        padding: 3rem;
    }



}


@media only screen and (max-width: 900px) {
    .container-details-box {
       display: flex;
       flex-direction: column;
       width: 90vw;

    }


}


