.reviews {
    margin:0 auto;
    margin-top: 5rem;
    font-size: 1.8rem;
}

.reviews-content  {
    background-color: var(--color-white);
    padding: 3rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
}
.reviews-name {
    display: flex;
    gap:2rem
}
.reviews-name p {
    align-self: center;
}
.reviews-content  h2 {
    color:var(--color-dark);

}

.reviews-content  p {
    color:var(--color-dark);
    align-self: center;
   

}

