.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10rem;

    background-color: var(--color-border);
    border-bottom: 2px solid var(--color-border);
  
  }

  .hamburger {
    width: 40px;
    height: 40px;
    color:var(--color-white);
    align-self: end;
    display: none;
  }
  
  .links {
    display: flex;
    gap:2rem;
    padding: 5rem;
  }
  
  .links a {
    text-decoration: none;
    color:var(--color-white);
    font-size: 2.6rem;
    transition: all .5s ease-in-out;
    text-transform: uppercase;
  
  }

  .welcome{
    font-size: 2rem;
    color:var(--color-white);
    position: absolute;
    font-style: italic;
    right:7rem;

  }
  
  
  
  
  @media only screen and (max-width: 900px) {
  
  
  
    .header{
      flex-direction: column;
      gap:2rem;
      justify-content: center;
      align-content: center;
      text-align: center;
  
    }
  
    .links {
      margin-top: 2rem;
    }
  
  }
  
  @media only screen and (max-width: 600px) {
    
    .header{
      flex-direction: column;
      padding: 1rem .6rem;
      gap:2rem;
     
    }
  
    .links {
      flex-direction: column;

    }
    .hamburger {
      display: block;
    }
 
  
   
  
  }
  
  @media only screen and (min-width: 1200px) {
   
  
    .links a:hover  {
     border: none;
     border-radius: 1rem;
     background-color: var(--color-white);
     color:var(--color-primary);
     padding: 1rem;
    }
  }
  