.contact-us {
    margin: 0 auto;
    width: 40vw;
}

.contact-us-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.5rem;
    padding: 8rem 2rem;
    background-color: var(--color-border);
    border-radius: 1rem;
    border: 3px solid var(--color-white);

}



.contact-us-email {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.contact-us-email input {
    outline: none;
    width: 12vw;
    border: none;
    font-size: 1.6rem;
    border-radius: .3rem;
    padding:1rem;



}

.contact-us-phone {
    font-size: 1.8rem;
    letter-spacing: 1.2px;

}

.contact-us-form label {
    display: block;
    font-size: 2rem;
    color: var(--color-white);
    margin-bottom: 1rem;
    text-align: center;
}

.contact-us-message textarea {
    width: 30vw;
    font-size: 2rem;
    outline: none;
    border-radius: .3rem;
    padding:1rem;

}

.form-btn {
    font-size: 2rem;
    border-radius: 1rem;
    background-color: white;
    display: inline-block;
    padding: 1rem 2rem;
    cursor: pointer;
    font-style: inherit;
    letter-spacing: 1.2px;
    border: none;
    text-decoration: none;
    color:black;

}




@media only screen and (max-width: 1200px) {
    .contact-us {
        width: 55vw;
    }

    .contact-us-emailinput {
        width: 15vw;
    }

    .contact-us-message textarea {
        width: 40vw;
    }

}

@media only screen and (max-width: 600px) {

    .contact-us {
        width: 75vw;
    }

    .contact-us-email {
        display: flex;
        flex-direction: column-reverse;

        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .contact-us-email input {
        width: 40vw;
    }

    .contact-us-message textarea {
        width: 55vw;
    }
}