.add-movie {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-movie-form {
    display: flex;
    flex-direction: column;
    gap:4rem;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--color-white);
    width: 50vw;
    padding: 4rem;
    background-color: var(--color-border);

    
}

.add-movie-form label {
    color:white;
    font-size: 2rem;

}
.add-movie-form input {
    display: block;
    margin-top: .5rem;
    outline: none;
    width: 30vw;
    font-size: 2rem;

}

.add-movie-form textarea {
    display: block;
    font-size: 2rem;
    width: 30vw;

}
.add-movie-btn {
    font-size: 1.7rem;
    text-transform: uppercase;
    padding: .5rem 2rem;
    border-radius: 1rem;
}



@media only screen and (max-width: 600px) {
    .add-movie-form {
       width: 80vw;
    }

    .add-movie-form input {
        width: 60vw;

    }

    .add-movie-form textarea {
  
        width: 60vw;
    
    }
}

