.form-box {
    margin:0 auto;
    width: 45vw;

}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.5rem;
    padding: 8rem 2rem;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.5);

    border-radius: 1rem;

}

.form-btn{
    font-size: 2rem;
    border-radius: 1rem;
    background-color: white;
    display: inline-block;
    padding: 1rem 2rem;
    cursor: pointer;
    font-style: inherit;
    letter-spacing: 1.2px;
    border: none;

}



.form input {
    outline: none;
    border: none;
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-size: 1.8rem;
    letter-spacing: 1.2px;
    width: 30vw;



}

input:focus {
    padding-left: -5rem;
}


.form .username {
    position: relative;


}

.form .password {
    position: relative;

}

::placeholder {
    color:#564E58;
    font-size: 1.6rem;
    letter-spacing: 1.2px;
  }


.form h2 {
    text-align: center;
    font-size: 3rem;
    letter-spacing: 1.2px;
}

.form a {
    text-decoration: none;
    color:var(--color-white);
    font-size: 1.9rem;
    text-align: center;
}


@media only screen and (max-width: 1200px) {
    .form-box {
        width: 55vw;
    }
    .form {
        display: flex;
        align-content: center;
        align-self: center;
        justify-content: center;

    }
}



@media only screen and (max-width: 600px) {
    .form-box {
        width: 75vw;
    }

    .form {
        display: flex;
        align-content: center;
        align-self: center;
        justify-content: center;
        padding:4.5rem;

    }
    .form input {
        width: 50vw;
    }
}

