html {
    font-size: 62.5%;
}

body {
    font-family: var(--f-family);
    background-color: var(--color-primary);
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    padding: 10rem 7rem ;

}

.container-details{
    display: flex;
    justify-content: center;
    align-content: center;
    grid-column: 1/4;
}

.container-details-box {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border: 5px solid var( --color-border);
    width: 70vw;
    border-radius: .7rem;

    box-shadow: 0px 4px px 0px rgba(0,0,0,0.75);
    gap:1rem;
    overflow: hidden;
    font-family: var(--f-famly-details);




}

 /* #root {
    padding: 10rem 7rem ;

} 
  */

@media only screen and (max-width: 1200px) {
   
    html {
        font-size: 57%;
    }
  
    .container {
        display:flex;
        flex-direction: column;

    }


}

@media only screen and (max-width: 600px) {



}


@media only screen and (max-width: 900px) {
    .container-details-box {
       display: flex;
       flex-direction: column;
       width: 90vw;

    }


}


