html {
    font-size: 62.5%;
}

body {
    font-family: var(--f-family);
    background-color:var(--color-primary);
}

main {
    width: 70vw;
    padding: 10rem 0rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    padding: 10rem 7rem ;

}

.container-details{
    display: flex;
    justify-content: center;
    align-content: center;
    grid-column: 1/4;
}

.container-details-box {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border: 5px solid var( --color-border);
    width: 70vw;
    border-radius: .7rem;

    box-shadow: 0px 4px px 0px rgba(0,0,0,0.75);
    gap:1rem;
    overflow: hidden;
    font-family: var(--f-famly-details);




}

   #root {
   display: flex;
   min-height: 100%;
    
}

.moveInRight {
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    backface-visibility: hidden;

}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.dialogs-btns {
    display: flex;
    gap: 2rem;
    font-size: 1.5rem;
    margin-top: 2rem;
}


.dialog-btn-y {
    background-color: rgb(29, 132, 29);
    color: var(--color-white);
    cursor: pointer;
    border: none;
    padding: .6rem 2rem;
    border-radius: 1rem;
}

.dialog-btn-n {
    background-color: rgb(176, 30, 30);
    color: var(--color-white);
    cursor: pointer;
    border: none;
    padding: .6rem 2rem;
    border-radius: 1rem;

}


@media only screen and (max-width: 1200px) {
   
    html {
        font-size: 57%;
    }
  
    .container {
        display:flex;
        flex-direction: column;

    }


}

@media only screen and (max-width: 600px) {



}


@media only screen and (max-width: 900px) {
    .container-details-box {
       display: flex;
       flex-direction: column;
       width: 90vw;

    }


}


