.search-bar {
    position: relative;
}

.search-input {
    width: 20vw;
    padding: .5rem;
    background-color: var(--color-header);
    border-radius: 1rem;
    border: none;
    color: var(--color-white);
    font-size: 1.5rem;
    transition: all .4s ease;
}

.search-input:focus {
    outline: none;
    width: 30vw;

}

.search-input::placeholder {
    font-size: inherit;
    text-align: start;

    padding: 1rem;
    color: var(--color-white);
}

.search-icon {
    position: absolute;
    right: 15px;
    top: 15px;

}




@media only screen and (max-width: 1200px) {
    .search-input {
        width: 50vw;
    }

    .search-input:focus {
        outline: none;
        width: 55vw;


    }
}

@media only screen and (max-width: 900px) {

    .search-input {
        width: 65vw;
    }

    .search-input:focus {
        outline: none;
        width: 65vw;


    }

    .search-icon {
     
        display: none;
    
    }
  
  }
  


@media only screen and (max-width: 600px) {

    .search-input {
        width: 65vw;
    }

    .search-input:focus {
        outline: none;
        width: 65vw;


    }

    .search-icon {
     
        display: none;
    
    }
  
  }
  

