.footer {
    width: 100%;
    display:flex;
    font-size: 1.5rem;
    border-top: 2px solid var(--color-border);
    padding: 4rem 15rem;
    height: 25vh;
    justify-content: space-between;
    color:var(--color-white);
    background-color: var(--color-border);
    text-align: center;
    grid-column: 4/-1;
    grid-row: 3;

}
.footer-links ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;

}


.footer-links ul li {
 list-style: none;
}

.footer-icons ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
}
.footer-icons ul {
 cursor: pointer;
}


@media only screen and (max-width: 900px) {
 .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5rem;
    padding: 4rem 5rem;
 }

}
  