.reserve-tickets-box{
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:10rem;
    padding: 5rem;
    margin-top: -10rem;
    color:white;

}

.reserve-tickets-search input{
   width: 30vw;
   outline: none;
   border: none;
   padding: 1.5rem;
   border-radius: 1rem;
   margin-top: -5rem;

}
.reserve-tickets-user{
border: none;
border-radius: .8rem;
font-size: 2rem;
padding: 5rem;
display: flex;
gap:5rem;
width: 60vw;
justify-content: center;
align-items: center;
box-shadow: var(--box-shadow);


}



@media only screen and (max-width: 900px) {
  .reserve-tickets-user{
    flex-direction: column;
    width: 35vw;
    gap:2rem;
  }

.reserve-tickets-box{
  gap:4rem;
}
.reserve-tickets-search input {
     width: 50vw;
}
}


@media only screen and (max-width: 600px) {
  .reserve-tickets-user{
    flex-direction: column;
    width: 55vw;
    gap:2rem;

    padding: 3rem;
  }

  .reserve-tickets-search input {
    width: 70vw;
}
}