.user-box {
    margin:0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;

}

.user-box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:4rem;
    box-shadow: var(--box-shadow);


    overflow: hidden;
    border-radius: 1rem;
    width: 20%;
}

.user-img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.user-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.user-content  > :not(:last-child){
    padding-bottom: 2rem;
    
}

.user-content {
  display: flex;
  flex-direction: column;
  padding:2rem;
}
.user-button {
    align-self: center;
}

@media only screen and (max-width: 900px) {
    .user-box-container {
        width: 30%;
    }
}

@media only screen and (max-width: 600px) {
    .user-box-container {
        width: 50%;
    }
}
