.add-movie {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10rem;

}

.add-movie-form {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    box-shadow:var(--box-shadow);
    width: 50vw;
    padding: 4rem;
    border-radius: 1rem;


}

.add-movie-form label {
    color: white;
    font-size: 2rem;

}

.add-movie-form  input {
    display: block;
    margin-top: .5rem;
    outline: none;
    width: 30vw;
    font-size: 2rem;
    border-radius: 1rem;
    padding: 1rem;

}

.add-movie-form  textarea {
    display: block;
    font-size: 2rem;
    width: 30vw;
    outline: none;
    border-radius: 1rem;
    padding: 1rem;



}

.form-btn{
    font-size: 2rem;
    border-radius: 1rem;
    background-color: white;
    display: inline-block;
    padding: 1rem 2rem;
    cursor: pointer;
    font-style: inherit;
    letter-spacing: 1.2px;
    border: none;
    margin-right: 1rem;

}




@media only screen and (max-width: 600px) {
    .add-movie-form{
        width: 80vw;
    }

    .add-movie-form  input {
        width: 60vw;

    }

    .add-movie-form textarea {

        width: 60vw;

    }
}