

$color-primary: #273469;
$color-border: #1e2953;

$color-header: #374A95;
$color-details: #374A95;

$color-white: #FAFAFF;
$f-family: 'PT Sans Narrow', sans-serif;
$f-famly-details: 'Montserrat', sans-serif;